:root {
  --text-color: white;
  --accent-color: #b87333;
  --bar-color: #202020;
  --title-font-size: 4.0625rem;
  --title-sub-font: 30px;
  --contact-font-size: 30px;
  --header-font-size: 32px;
  --inter: "Inter", "sans-serif";
  --osans: "Open Sans", "sans-serif";
}

body {
  background-color: #2d2d2d;
  margin: 0;
  color: var(--text-color);
  font-style: normal;
  font-family: var(--inter);
}

hr {
  background-color: var(--accent-color);
  border: var(--accent-color);
  height: 3px;
}

.align-icons {
  display: flex;
  align-items: center;
  font-family: var(--osans);
}

.contact {
  margin: 54px 35px;
  font-size: var(--header-font-size);

  & h1 {
    font-family: var(--inter);
  }

  &-container {
    display: flex;
    font-size: var(--header-font-size);

    &-address {
      display: flex;
      font-size: var(--contact-font-size);
      margin-left: 20px;

      &-pgroup {
        & > p {
          font-family: var(--osans);
          line-height: 35px;
          margin: 0;
        }
      }
    }
  }

  &-info {
    & > h1 {
      margin-top: 70px;
    }

    & > p {
      font-size: var(--contact-font-size);
    }
  }
}

.footer {
  background-color: var(--bar-color);
  display: flex;
  flex-direction: column;
  height: 160px;
  justify-content: space-around;
  width: 100%;

  & > * {
    margin-left: 18px;
  }

  .ref-link {
    color: white;
  }
}

.icons {
  display: inline;
  color: var(--accent-color);
  margin-right: 8px;
}

.info {
  font-size: 30px;
  margin: 88px 130px;
  display: flex;
  flex-direction: column;
  line-height: 38px;
  font-family: var(--osans);

  &-lower {
    text-align: center;
  }
}

.map {
  border: 2px solid var(--accent-color);
  height: 486px;
  width: 761px;
  justify-self: flex-start;
}

.nav {
  align-items: center;
  background-color: var(--bar-color);
  display: flex;
  height: 70px;
  position: sticky;
  width: 100%;

  &-btn {
    background-color: var(--accent-color);
    border: var(--accent-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 25px;
    height: 43px;
    margin-left: 13px;
    width: 171px;
  }
}

.sections {
  padding: 193px 178px 90px;
}

.services {
  font-size: var(--header-font-size);
  margin: 54px 35px;

  & h1 {
    font-family: var(--inter);
  }

  &-carousel-container {
    align-items: center;
    background-color: var(--bar-color);
    border: 1px solid var(--accent-color);
    border-radius: 15px;
    display: flex;

    .services-carousel-container-item {
      display: flex !important;
      align-items: center;

      & > div {
        margin: 20px;
        padding: 50px;
      }

      &-img {
        border: 2px solid var(--accent-color);
        border-radius: 10px;
        width: 650px;
      }

      &-info {
        text-align: center;
        line-height: 15px;
        width: 450px;

        & > h1 {
          font-size: 40px;
          margin-bottom: 60px;
        }
      }
    }
  }
}

.slick-slider {
  display: flex;

  .slick-arrow {
    width: 100px;
    z-index: 10;
  }

  .slick-list {
    display: flex;

    .slick-track {
      display: flex;

      .slick-slide {
        display: flex;
        flex-direction: row;
        justify-content: center;

        & > div {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }
}

.slick-slide img {
  display: inline;
}

.title {
  font-family: var(--inter);
  font-weight: 200;
  color: var(--text-color);
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
  flex-shrink: 1;
  flex-basis: 1;

  &-logo {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    &-title {
      &-logo_2x {
        flex-shrink: 1;
        width: 13rem;
      }

      &-main {
        align-self: flex-end;
        display: inline;
        font-size: var(--title-font-size);
        margin-left: 18px;
      }
    }

    &-secondary {
      margin-top: 15px;
      margin-left: 40px;
      align-self: flex-end;
      font-size: var(--title-font-size);
    }

    &-sub {
      font-size: var(--title-sub-font);
      align-self: flex-end;
    }
  }

  &-image {
    display: flex;
    margin: auto 0;
    flex-shrink: 1;
    max-width: 650px;
    justify-content: center;

    &-image {
      border: 2px solid var(--accent-color);
      border-radius: 10px;
      width: 100%;
    }
  }
}

@media (max-width: 1750px) {
  .sections {
    padding: 100px 100px;
  }

  .title-image {
    margin: auto 25px;
  }
}

@media (max-width: 1556px) {
  :root {
    --title-font-size: 50px;
  }

  .services {
    &-carousel-container {
      .services-carousel-container-item {
        &-img {
          width: 470px;
        }

        &-info {
          & h1 {
            font-size: 38px;
          }

          & p {
            font-size: 30px;
          }
        }
      }
    }
  }

  .title-logo-title-logo_2x {
    width: 8rem;
  }

  .title-image {
    max-width: 550px;
  }
}

@media (max-width: 1452px) {
  .title-image {
    margin-left: 10px;
  }
}

@media (max-width: 1440px) {
  :root {
    --title-font-size: 50px;
    --title-sub-font: 25px;
  }

  .info {
    font-size: 25px;
    margin: 70px 50px;
  }

  .nav-btn {
    font-size: 20px;
    width: 130px;
  }

  .sections {
    padding-bottom: 70px;
  }

  .services {
    &-carousel-container {
      .services-carousel-container-item {
        &-img {
          width: 470px;
        }

        &-info {
          & h1 {
            font-size: 38px;
          }

          & p {
            font-size: 30px;
          }
        }
      }
    }
  }

  .title-logo {
    &-secondary {
      align-self: flex-start;
      margin-left: 20px;
      flex-shrink: 1;
    }

    &-title-logo_2x {
      width: 8rem;
    }
  }

  .title-image {
    max-width: 500px;
  }
}

@media (max-width: 1379px) {
  .services {
    &-carousel-container {
      .services-carousel-container-item {
        & div {
          margin: 10px;
          padding: 0px;
        }

        &-img {
          width: 280px;
        }

        &-info {
          width: 350px;

          & h1 {
            font-size: 30px;
            margin-bottom: 40px;
          }

          & p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  :root {
    --title-font-size: 35px;
    --title-sub-font: 18px;
    --header-font-size: 25px;
  }

  .contact {
    &-container {
      &-address {
        &-pgroup {
          font-size: 23px;
        }
      }
    }

    &-info {
      & p {
        font-size: 23px;
      }
    }
  }

  .info {
    font-size: 22px;
    margin: 55px 130px;
  }

  .map {
    height: 300px;
    width: 500px;
  }

  .nav {
    height: 60px;

    &-btn {
      font-size: 15px;
      width: 100px;
    }
  }

  .sections {
    padding-bottom: 50px;
  }

  .services {
    &-carousel-container {
      .services-carousel-container-item {
        & div {
          margin: 10px;
          padding: 0px;
        }

        &-img {
          width: 280px;
        }

        &-info {
          width: 350px;

          & h1 {
            font-size: 30px;
            margin-bottom: 40px;
          }

          & p {
            font-size: 20px;
          }
        }
      }
    }
  }

  .title {
    margin-bottom: 55px;
  }

  .title-logo-title-logo_2x {
    width: 6rem;
  }

  .title-image {
    max-width: 350px;

    &-image {
      width: 95%;
    }
  }
}

@media (max-width: 946px) {
  .services {
    &-carousel-container {
      .services-carousel-container-item {
        &-img {
          width: 150px;
        }

        &-info {
          width: 220px;

          & h1 {
            font-size: 25px;
            margin-bottom: 28px;
          }

          & p {
            font-size: 16px;
            line-height: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :root {
    --title-font-size: 25px;
    --title-sub-font: 14px;
    --header-font-size: 20px;
  }

  .contact {
    &-container {
      &-address {
        &-pgroup {
          font-size: 18px;
        }
      }
    }

    &-info {
      & p {
        font-size: 18px;
      }
    }
  }

  .footer {
    height: 90px;
    & h1 {
      font-size: 20px;
    }

    & a {
      margin-bottom: 20px;
    }
  }

  .info {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }

  .map {
    height: 170px;
    width: 300px;
  }

  .nav {
    &-btn {
      font-size: 17px;
    }
  }

  .sections {
    padding: 60px 60px 20px;
  }

  .services {
    &-carousel-container {
      .services-carousel-container-item {
        &-img {
          width: 150px;
        }

        &-info {
          width: 220px;

          & h1 {
            font-size: 25px;
            margin-bottom: 28px;
          }

          & p {
            font-size: 16px;
            line-height: 10px;
          }
        }
      }
    }
  }

  .title-logo {
    &-title-logo_2x {
      width: 4.5rem;
    }
  }

  .title-image {
    max-width: 250px;
  }
}

@media (max-width: 648px) {
  .title-image {
    display: none;
  }
}

@media (max-width: 610px) {
  .services {
    margin: 20px 20px 40px;
    &-carousel-container {
      .services-carousel-container-item {
        & > :first-child {
          display: none;
        }

        &-info {
          & h1 {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  :root {
    --title-font-size: 18px;
  }

  .map {
    height: 120px;
    width: 150px;
  }

  .contact {
    &-container {
      &-address {
        &-pgroup {
          font-size: 12px;
        }
      }
    }

    &-info {
      width: 170px;

      & > h1 {
        margin-top: 40px;
      }

      & p {
        font-size: 12px;
      }
    }
  }

  .info {
    font-size: 15px;
    line-height: 25px;
  }

  .nav {
    height: 40px;

    &-btn {
      font-size: 9px;
      height: 30px;
      width: 60px;
    }
  }

  .sections {
    padding: 40px 40px 20px;
  }

  .services {
    &-carousel-container {
      .services-carousel-container-item {
        &-img {
          width: 80px;
        }

        &-info {
          width: 150px;

          & h1 {
            font-size: 18px;
            margin-bottom: 20px;
          }

          & p {
            font-size: 10px;
            line-height: 5px;
          }
        }
      }
    }
  }

  .title {
    margin-bottom: 30px;
  }

  .title-logo {
    &-title {
      &-logo_2x {
        width: 3.5rem;
      }
    }
  }
}

@media (max-width: 425px) {
  .services {
    margin: 20px 20px 40px;
    &-carousel-container {
      .services-carousel-container-item {
        & > :first-child {
          display: none;
        }

        &-info {
          & h1 {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  :root {
    --header-font-size: 15px;
  }

  .contact {
    margin: 20px;
    &-container {
      &-address {
        &-pgroup {
          & P {
            line-height: 20px;
          }
        }
      }
    }

    &-info {
      & > h1 {
        margin-top: 40px;
      }

      & p {
        line-height: 2px;
      }
    }
  }

  .services {
    margin: 20px 20px 40px;
    &-carousel-container {
      .services-carousel-container-item {
        & > :first-child {
          display: none;
        }

        &-info {
          & h1 {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .info {
    margin: 20px;
  }

  .sections {
    padding: 10px 10px;
  }

  .title {
    flex-shrink: 1;
  }

  .title-image {
    display: none;
  }
}
